* {
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
}
a img {
border: none;
}
p{
margin: 0px 0px 5px 0px;
}

.darker {
font-weight: bold;
}
.clearAll {
clear: both;
float: none;
}
.left {
float: left;
}
.right {
float: right;
}
.interior{
padding: 5px;
}
.marginTop65 {
margin-top: 65px !important;
}
.marginTop20 {
margin-top: 20px !important;
}
.marginTop10 {
margin-top: 10px !important;
}
.marginTop15 {
margin-top: 15px !important;
}
.marginTop5 {
margin-top: 5px !important;
}
.marginBottom20 {
margin-Bottom: 20px !important;
}
.marginBottom10 {
margin-Bottom: 10px !important;
}
.marginBottom5 {
margin-Bottom: 5px !important;
}
.marginLeft5{
margin-left:5px !important;
}
.marginLeft10{
margin-left:10px !important;
}
.marginLeft15{
margin-left:15px !important;
}
.marginLeft25{
margin-left:25px !important;
}
.marginRight5{
margin-right:5px !important;
}
.marginRight10{
margin-right:10px !important;
}
.marginRight15{
margin-right:15px !important;
}
.marginRight25{
margin-right:25px !important;
}
.centrado {
text-align: center !important;
}

.paddingTop5{
padding-top:5px;
}
/* *** SECCIONES o AREAS  *** */

.cabecera{
background-color: #ffffff;
position: fixed;
height: 180px;
width: 100%;
z-index: 1000;
top: 0px;
left: 0px;
}
.pie{
background-color: #f4f4f4;
position: fixed;
height: 20px;
width: 100%;
z-index: 1001;
bottom: 0px;
left: 0px;
-webkit-box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.2);
box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.2);
}
.menu{
background-color: #f2f2f2;
position: fixed;
height: 100%;
width: 190px;
z-index: 900;
top: 100px;
left: 0px;
padding: 5px;
}
.buscador{
background-color: #f2f2f2;
position: fixed;
height: 100%;
width: 190px;
z-index: 901;
top: 100px;
right: 0px;
padding: 5px;
}
.cuerpo{
padding:10px;
/*padding: 117px 200px 57px 200px;*/
overflow: visible;
}
.cuerpo.cMinimizado{
padding: 117px 0px 57px 0px;
}
 .cuerpo.minimizadoNewLook {
margin: 170px 0px 15px 20px;
padding-bottom:40px;
}
.cuerpo.maximizadoNewLook {
margin: 170px 0px 40px 225px; 
/*padding-bottom:40px;*/
}
.menu.mMinimizado{
background-color: #dddddd;
position: fixed;
height: 100%;
width: 50px;
z-index: 900;
top: 100px;
left: 0px;
}
.buscador.bMinimizado{
background-color: #cccccc;
position: fixed;
height: 100%;
width: 50px;
z-index: 901;
top: 100px;
right: 0px;
}
.buscador.bMinimizado.conBuscador:hover {
background: #DDF1F9;
cursor: pointer;
}
/* -- Estructuras de columnas -- */

div.areaReducida {
width: 70%;
margin: 0px auto;
position: relative;
}
div.areaAmpliada{
/*width:95%;
margin:0px auto;
position:relative;*/
}

div.dobleColumnaIzquierda, div.dobleColumnaDerecha{
width: 50%;
float: left;
}
div.dobleColumnaIzquierda.columnaFormularios{
width:25%;
}
div.dobleColumnaDerecha.columnaFormularios{
width: 75%;
}
div.dobleColumnaIzquierda.columnaFormularios.width30{
width:30% !important;
}
div.dobleColumnaDerecha.columnaFormularios.width70{
width: 70% !important;
}
div.dobleColumnaIzquierda.columnaFormularios.width40{
width:40% !important;
}
div.dobleColumnaDerecha.columnaFormularios.width60{
width: 60% !important;
}
div.dobleColumnaIzquierda .interior { 
margin-right: 10px;
}
div.dobleColumnaDerecha .interior {
margin-left: 10px;
}
div.columna1de3, div.columna2de3 {
width: 33%;
float: left;
}
div.columna3de3  {
width: 34%;
float: left;
}
div.columna1de3desiguales, div.columna3de3desiguales {
width: 42%;
float: left;
}
div.columna2de3desiguales  {
width: 16%;
float: left;
}
div.columna1de3 .interior, div.columna1de3desiguales .interior {
margin-right: 10px;
}
div.columna2de3 .interior, div.columna2de3desiguales .interior {
margin-right: 0px;
margin-left: 0px;
}
div.columna3de3 .interior, div.columna3de3desiguales .interior {
margin-left: 10px;
}
div.columna2de3desiguales .interior button {
width: 100%;
margin: 0px 0px 10px 0px;
}
.contenidoJabon .columna1de3 .interior {
margin-right: 2px;
}
.contenidoJabon .columna2de3 .interior {
margin-right: 0px;
margin-left: 0px;
}
.contenidoJabon .columna3de3 .interior {
margin-left: 2px;
}
.contenidoJabon .columna1de3 .interior button, .contenidoJabon .columna2de3 .interior button, .contenidoJabon .columna3de3 .interior button {
padding: 0px 1px;
font-family: "BBVABold", arial, sans-serif;
font-size: 11px;
font-weight: normal;
margin-left: 0px;
width: 100%;
}

/* ** COLUMNA DESCARGAS DESPLEGADAS ** */
.columnaPlegable{
width: 260px;
height:422px;
float: left;
position: absolute;
border-bottom: 1px solid #CCC;
}
.columnaPlegable .interior{
padding:10px;
}
.columnaAmpliable{
width: 100%;
padding-left:259px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
float: left;
height:450px;
}
.columnaAmpliable .interior{
padding:auto;
}
/* ** COLUMNA DESCARGAS DESPLEGADAS ** */
.columnaPlegablePlegada{
width: 60px;
height:422px;
float: left;
position: absolute;
border-bottom: 1px solid #CCC;
border-right: 1px solid #c0c2c0;
}
.columnaAmpliableAmpliada{
width: 100%;
padding-left:61px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
float: left;
height:450px;
}
/* ** FIN COLUMNA DESCARGAS  ** */

/* -- elementos de formulario -- */
.columnaFormularios label{
margin: 5px 0px;
line-height: 25px;
}
.columnaFormularios label span{
line-height: 10px;
margin: 0px 2px 0px 0px;
}
input[type|=text], input[type|=password] {
width: 100%;
clear: both;
height: 25px;
margin-bottom: 10px;
line-height: 21px;
font-size:12px;
}
input[type|=checkbox], input[type|=radio]  {
position: relative;
top: 10px;
height: 30px;
margin: 10px 5px;
}
input[type|="checkbox"].radioCheckReducido, input[type|="radio"].radioCheckReducido {
height: auto;
margin: 10px 5px 10px 0px;
position: relative;
top: 3px;
 }
select {
width: 100%;
clear: both;
height: 26px;
margin-bottom: 13px;
line-height: normal;
padding: 2px;
}
.agrupacionVertical input[type|=checkbox], .agrupacionVertical input[type|=radio] {
margin: 0px;
height: 25px;
top: 8px;
}
ul.listaTexto {
width: 80%;
margin: 0px auto;
}
ul.listaTexto li {
background: url("../img/bullet01.png") no-repeat 0px 4px;
padding: 0px 0px 0px 8px;
margin: 0px 0px 8px 0px;
}

/* -- paginador -- */

.paginador ul, .contenidoJabon .paginador ul{
display: inline;
}
.paginador ul li, .contenidoJabon .paginador ul li {
display: inline;
}
.paginador .centrar{
text-align: center;
margin: 0px auto;
}
.paginador ul li select {
width: auto;
margin: 0px 5px;
height: 26px;
}

/* -- Pestañas horizontales -- */

.pestanasHorizontales {
padding: 5px;
margin-bottom: 10px;
}
.pestanasHorizontales ul.pestanas{
height: 36px;
}
ul.pestanas li{
display: inline;
}

/* --- pestañas verticales --- */

.pestanasVerticales {
padding: 5px;
margin-bottom: 10px;
}
.pestanasVerticales  ul.pestanas{
position: relative;
z-index: 100;
top: 0;
left: 0;
float: left;
width: 100px;
z-index: 100;
}
.paginadorVertical {
text-align: center;
}

/* -- pestañas verticales dentro de pestañas horizontales -- */

.pestanasHorizontales .pestanasVerticales{
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
.organizador{
margin-top: -28px;
float:right;
}

/* ***** GUSANO DE PROGRESO ***** */

html .gusanoProgreso {
float:right;
font-size: 10px;
text-align: right;
}
.progreso {
float:left;
height: 60px;
}

/* *** Prefiltro de Historico *** */

.unPais{
float: left;
text-align: center;
width: 80px;
height: 80px;
margin: 0px 1% 10px;
}
.unPais label, .unPais img, .unPais input{
clear: both;
float: none;
margin: 0px;
padding: 0px;
top: auto;
}
.rangosFechasHolder{
float: left;
}
.rangosFechasHolder .unPais{
float: left;
}
.rangoPrefiltro label{
margin: 0px 0px 0px 0px;
}
.rangoPrefiltro .cajaFechas {
width: 90px;
margin: 0px;
}
.resultadoPrefiltro {
position: absolute;
z-index: 30;
}

/* *** DATEPICKER *** */

 .hasDatepicker {
position:absolute;
width: 235px;
z-index: 10000;
}
.rangoPrefiltro .hasDatepicker{
left: auto;
}
.hasDatePicker tbody tr:hover {
background-color: #fff;
}
.ui-datepicker { 
width: 17em; 
padding: .2em .2em 0;
margin-left:38px; 
margin-top:-140px;
display: none; 
}
.izquierda .ui-datepicker { 
margin-left:-250px !important;
}
.ui-datepicker .ui-datepicker-header { 
position:relative; 
padding:.2em 0; 
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { 
position:absolute; 
top: 5px;  
border: 1px solid #b6ceea;
border-radius: 5px;
background: #FDFEFE;
padding: 3px;
cursor: pointer;
}

/* ** Mover boton :hover * **/
/*
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { 
top: 1px; 
}
.ui-datepicker .ui-datepicker-prev-hover { 
left:1px; 
}
.ui-datepicker .ui-datepicker-next-hover { 
right:1px; 
}
*/

.ui-datepicker .ui-datepicker-prev { 
left:2px; 
}
.ui-datepicker .ui-datepicker-next { 
right:2px; 
}


.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { 
display: block; 
position: absolute; 
left: 50%; 
margin-left: -12px; 
top: 50%; 
margin-top: -6px;  
}
.ui-datepicker .ui-datepicker-title { 
margin: 0 2.3em; 
line-height: 1.8em; 
text-align: center; 
}
.ui-datepicker .ui-datepicker-title select { 
font-size:1em; 
margin:1px 0; 
}
.ui-datepicker select.ui-datepicker-month-year {
width: 100%;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year { 
width: 49%;
}
.ui-datepicker table {
background-color:transparent;
width: 100%; 
font-size: .9em; 
border-collapse: collapse; 
margin:0 0 .4em; 
}
.ui-datepicker tr:hover { 
background:transparent; 
}
.ui-datepicker th { 
padding: .7em .3em; 
text-align: center; 
font-weight: bold; 
border: 0;  
}
.ui-datepicker td { 
border: 0; 
padding: 0px;
}
.ui-datepicker td span, .ui-datepicker td a { 
display: block;
text-align: right; 
text-decoration: none; 
}
.ui-datepicker td span, .ui-datepicker td a:hover { 
background: #D2E5EB; 
color: #00A9E8;
}
.ui-datepicker .ui-datepicker-buttonpane { 
background-image: none; 
margin: .7em 0 0 0; 
padding:0 .2em; 
border-left: 0; 
border-right: 0; 
border-bottom: 0; 
}
.ui-datepicker .ui-datepicker-buttonpane button { 
float: right; 
margin: .5em .2em .4em; 
cursor: pointer; 
padding: .2em .6em .3em .6em; 
width:auto; 
overflow:visible; 
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { 
float:left; 
}
/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
display: none; 
display/**/: block; 
position: absolute; 
z-index: -1; 
filter: mask(); 
top: -4px; 
left: -4px;
width: 200px;
height: 200px;
}
.ui-helper-hidden { 
display: none; 
}
.ui-helper-hidden-accessible { 
position: absolute !important; 
clip: rect(1px 1px 1px 1px); 
clip: rect(1px,1px,1px,1px); 
}
.ui-helper-reset { 
margin: 0; 
padding: 0; 
border: 0; 
outline: 0; 
line-height: 1.3; 
text-decoration: none; 
font-size: 100%; 
list-style: none; 
}
.ui-helper-clearfix:before, .ui-helper-clearfix:after { 
content: ""; 
display: table; 
}
.ui-helper-clearfix:after { 
clear: both; 
}
.ui-helper-clearfix { 
zoom: 1; 
}
.ui-helper-zfix { 
width: 100%; 
height: 100%; 
top: 0; 
left: 0; 
position: absolute; 
opacity: 0; 
filter:Alpha(Opacity=0); 
}
.ui-state-disabled { 
cursor: default !important; 
}
.ui-icon { 
display: block; 
text-indent: -99999px; 
overflow: hidden; 
background-repeat: no-repeat; 
}
.ui-widget-overlay { 
position: absolute; 
top: 0; 
left: 0; 
width: 100%; 
height: 100%; 
}
.ui-widget-content { 
border: 1px solid #aaaaaa;
background: #ffffff url(../img/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; 
color: #222222; 
border: 5px solid #FFFFFF;
outline: 1px solid #c4d7e5;
padding:15px;
background: #f6f8f9;
background: -moz-linear-gradient(top,  #f6f8f9 0%, #fefefe 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(100%,#fefefe));
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#fefefe 100%);
background: -o-linear-gradient(top,  #f6f8f9 0%,#fefefe 100%);
background: -ms-linear-gradient(top,  #f6f8f9 0%,#fefefe 100%);
background: linear-gradient(to bottom,  #f6f8f9 0%,#fefefe 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#fefefe',GradientType=0 );
}
.ui-widget-content a { 
color: #222222; 
}
.ui-widget-header { 
color: #222222; 
font-weight: bold; 
}
.ui-widget-header a { 
color: #222222; 
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { 
font-weight: normal;
text-align: center; 
color: #00A9E8; 
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { 
color: #555555; 
text-decoration: none; 
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { 
border: 1px solid #999999; 
background: #dadada url(../img/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; 
font-weight: normal; 
color: #212121; 
}
.ui-state-hover a, .ui-state-hover a:hover { 
color: #212121; 
text-decoration: none; 
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { 
border: 1px solid #aaaaaa; 
background: #D2E5EB; 
font-weight: normal; 
color: #212121; 
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { 
color: #212121; 
text-decoration: none; 
}
.ui-widget :active { 
outline: none; 
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {
border: 0px;
background: #00A9E8; 
color: #FFFFFF; 
text-align: center;
}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { 
color: #363636; 
}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
border: 1px solid #cd0a0a; 
background: #fef1ec url(../img/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; 
color: #cd0a0a; 
}
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { 
color: #cd0a0a; 
}
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { 
color: #cd0a0a; 
}
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { 
font-weight: bold; 
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { 
opacity: .7; 
filter:Alpha(Opacity=70); 
font-weight: normal; 
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { 
opacity: .35; 
filter:Alpha(Opacity=35); 
background-image: none; 
}
/* states and img */
.ui-icon { 
width: 23px; 
height: 23px; 
background-image: url(../img/ui-icons_222222_256x240.png); 
}
.ui-widget-content .ui-icon {
background-image: url(../img/ui-icons_222222_256x240.png); 
}
.ui-widget-header .ui-icon {
background-image: url(../img/flechasCalendario.png); 
}
.ui-state-default .ui-icon { 
background-image: url(../img/ui-icons_888888_256x240.png); 
}
.ui-state-active .ui-icon {
background-image: url(../img/ui-icons_454545_256x240.png); 
}
.ui-state-highlight .ui-icon {
background-image: url(../img/ui-icons_2e83ff_256x240.png); 
}
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
background-image: url(../img/ui-icons_cd0a0a_256x240.png); 
}

/* positioning */

.ui-icon-carat-1-n { 
background-position: 0 0; 
}
.ui-icon-carat-1-ne { 
background-position: -16px 0; 
}
.ui-icon-carat-1-e { 
background-position: -32px 0; 
}
.ui-icon-carat-1-se { 
background-position: -48px 0; 
}
.ui-icon-carat-1-s { 
background-position: -64px 0; 
}
.ui-icon-carat-1-sw { 
background-position: -80px 0; 
}
.ui-icon-carat-1-w { 
background-position: -96px 0; 
}
.ui-icon-carat-1-nw { 
background-position: -112px 0; 
}
.ui-icon-carat-2-n-s { 
background-position: -128px 0; 
}
.ui-icon-carat-2-e-w { 
background-position: -144px 0; 
}
.ui-icon-triangle-1-n { 
background-position: 0 -16px; 
}
.ui-icon-triangle-1-ne { 
background-position: -16px -16px; 
}
.ui-icon-triangle-1-e { 
background-position: -32px -16px; 
}
.ui-icon-triangle-1-se { 
background-position: -48px -16px; 
}
.ui-icon-triangle-1-s { 
background-position: -64px -16px; 
}
.ui-icon-triangle-1-sw { 
background-position: -80px -16px; 
}
.ui-icon-triangle-1-w { 
background-position: -96px -16px; 
}
.ui-icon-triangle-1-nw { 
background-position: -112px -16px; 
}
.ui-icon-triangle-2-n-s { 
background-position: -128px -16px; 
}
.ui-icon-triangle-2-e-w { 
background-position: -144px -16px; 
}
.ui-icon-arrow-1-n { 
background-position: 0 -32px; 
}
.ui-icon-arrow-1-ne { 
background-position: -16px -32px; 
}
.ui-icon-arrow-1-e { 
background-position: -32px -32px; 
}
.ui-icon-arrow-1-se { 
background-position: -48px -32px; 
}
.ui-icon-arrow-1-s { 
background-position: -64px -32px; 
}
.ui-icon-arrow-1-sw { 
background-position: -80px -32px; 
}
.ui-icon-arrow-1-w { 
background-position: -96px -32px; 
}
.ui-icon-arrow-1-nw { 
background-position: -112px -32px; 
}
.ui-icon-arrow-2-n-s { 
background-position: -128px -32px;
}
.ui-icon-arrow-2-ne-sw {
background-position: -144px -32px;
}
.ui-icon-arrow-2-e-w {
background-position: -160px -32px;
}
.ui-icon-arrow-2-se-nw {
background-position: -176px -32px;
}
.ui-icon-arrowstop-1-n {
background-position: -192px -32px;
}
.ui-icon-arrowstop-1-e {
background-position: -208px -32px;
}
.ui-icon-arrowstop-1-s {
background-position: -224px -32px;
}
.ui-icon-arrowstop-1-w {
background-position: -240px -32px;
}
.ui-icon-arrowthick-1-n {
background-position: 0 -48px;
}
.ui-icon-arrowthick-1-ne {
background-position: -16px -48px;
}
.ui-icon-arrowthick-1-e {
background-position: -32px -48px;
}
.ui-icon-arrowthick-1-se {
background-position: -48px -48px;
}
.ui-icon-arrowthick-1-s {
background-position: -64px -48px;
}
.ui-icon-arrowthick-1-sw {
background-position: -80px -48px;
}
.ui-icon-arrowthick-1-w {
background-position: -96px -48px;
}
.ui-icon-arrowthick-1-nw {
background-position: -112px -48px;
}
.ui-icon-arrowthick-2-n-s {
background-position: -128px -48px;
}
.ui-icon-arrowthick-2-ne-sw {
background-position: -144px -48px;
}
.ui-icon-arrowthick-2-e-w {
background-position: -160px -48px;
}
.ui-icon-arrowthick-2-se-nw {
background-position: -176px -48px;
}
.ui-icon-arrowthickstop-1-n {
background-position: -192px -48px;
}
.ui-icon-arrowthickstop-1-e {
background-position: -208px -48px;
}
.ui-icon-arrowthickstop-1-s {
background-position: -224px -48px;
}
.ui-icon-arrowthickstop-1-w {
background-position: -240px -48px;
}
.ui-icon-arrowreturnthick-1-w {
background-position: 0 -64px;
}
.ui-icon-arrowreturnthick-1-n {
background-position: -16px -64px;
}
.ui-icon-arrowreturnthick-1-e {
background-position: -32px -64px;
}
.ui-icon-arrowreturnthick-1-s {
background-position: -48px -64px;
}
.ui-icon-arrowreturn-1-w {
background-position: -64px -64px;
}
.ui-icon-arrowreturn-1-n {
background-position: -80px -64px;
}
.ui-icon-arrowreturn-1-e {
background-position: -96px -64px;
}
.ui-icon-arrowreturn-1-s {
background-position: -112px -64px;
}
.ui-icon-arrowrefresh-1-w {
background-position: -128px -64px;
}
.ui-icon-arrowrefresh-1-n {
background-position: -144px -64px;
}
.ui-icon-arrowrefresh-1-e {
background-position: -160px -64px;
}
.ui-icon-arrowrefresh-1-s {
background-position: -176px -64px;
}
.ui-icon-arrow-4 {
background-position: 0 -80px;
}
.ui-icon-arrow-4-diag {
background-position: -16px -80px;
}
.ui-icon-extlink {
background-position: -32px -80px;
}
.ui-icon-newwin {
background-position: -48px -80px;
}
.ui-icon-refresh {
background-position: -64px -80px;
}
.ui-icon-shuffle {
background-position: -80px -80px;
}
.ui-icon-transfer-e-w {
background-position: -96px -80px;
}
.ui-icon-transferthick-e-w {
background-position: -112px -80px;
}
.ui-icon-folder-collapsed {
background-position: 0 -96px;
}
.ui-icon-folder-open {
background-position: -16px -96px;
}
.ui-icon-document {
background-position: -32px -96px;
}
.ui-icon-document-b {
background-position: -48px -96px;
}
.ui-icon-note {
background-position: -64px -96px;
}
.ui-icon-mail-closed {
background-position: -80px -96px;
}
.ui-icon-mail-open {
background-position: -96px -96px;
}
.ui-icon-suitcase {
background-position: -112px -96px;
}
.ui-icon-comment {
background-position: -128px -96px;
}
.ui-icon-person {
background-position: -144px -96px;
}
.ui-icon-print {
background-position: -160px -96px;
}
.ui-icon-trash {
background-position: -176px -96px;
}
.ui-icon-locked {
background-position: -192px -96px;
}
.ui-icon-unlocked {
background-position: -208px -96px;
}
.ui-icon-bookmark {
background-position: -224px -96px;
}
.ui-icon-tag {
background-position: -240px -96px;
}
.ui-icon-home {
background-position: 0 -112px;
}
.ui-icon-flag {
background-position: -16px -112px;
}
.ui-icon-calendar {
background-position: -32px -112px;
}
.ui-icon-cart {
background-position: -48px -112px;
}
.ui-icon-pencil {
background-position: -64px -112px;
}
.ui-icon-clock {
background-position: -80px -112px;
}
.ui-icon-disk {
background-position: -96px -112px;
}
.ui-icon-calculator {
background-position: -112px -112px;
}
.ui-icon-zoomin {
background-position: -128px -112px;
}
.ui-icon-zoomout {
background-position: -144px -112px;
}
.ui-icon-search {
background-position: -160px -112px;
}
.ui-icon-wrench {
background-position: -176px -112px;
}
.ui-icon-gear {
background-position: -192px -112px;
}
.ui-icon-heart {
background-position: -208px -112px;
}
.ui-icon-star {
background-position: -224px -112px;
}
.ui-icon-link {
background-position: -240px -112px;
}
.ui-icon-cancel {
background-position: 0 -128px;
}
.ui-icon-plus {
background-position: -16px -128px;
}
.ui-icon-plusthick {
background-position: -32px -128px;
}
.ui-icon-minus {
background-position: -48px -128px;
}
.ui-icon-minusthick {
background-position: -64px -128px;
}
.ui-icon-close {
background-position: -80px -128px;
}
.ui-icon-closethick {
background-position: -96px -128px;
}
.ui-icon-key {
background-position: -112px -128px;
}
.ui-icon-lightbulb {
background-position: -128px -128px;
}
.ui-icon-scissors {
background-position: -144px -128px;
}
.ui-icon-clipboard {
background-position: -160px -128px;
}
.ui-icon-copy {
background-position: -176px -128px;
}
.ui-icon-contact {
background-position: -192px -128px;
}
.ui-icon-image {
background-position: -208px -128px;
}
.ui-icon-video {
background-position: -224px -128px;
}
.ui-icon-script {
background-position: -240px -128px;
}
.ui-icon-alert {
background-position: 0 -144px;
}
.ui-icon-info {
background-position: -16px -144px;
}
.ui-icon-notice {
background-position: -32px -144px;
}
.ui-icon-help {
background-position: -48px -144px;
}
.ui-icon-check {
background-position: -64px -144px;
}
.ui-icon-bullet {
background-position: -80px -144px;
}
.ui-icon-radio-off {
background-position: -96px -144px;
}
.ui-icon-radio-on {
background-position: -112px -144px;
}
.ui-icon-pin-w {
background-position: -128px -144px;
}
.ui-icon-pin-s {
background-position: -144px -144px;
}
.ui-icon-play {
background-position: 0 -160px;
}
.ui-icon-pause {
background-position: -16px -160px;
}
.ui-icon-seek-next {
background-position: -32px -160px;
}
.ui-icon-seek-prev {
background-position: -48px -160px;
}
.ui-icon-seek-end {
background-position: -64px -160px;
}
.ui-icon-seek-start {
background-position: -80px -160px;
}
.ui-icon-seek-first {
background-position: -80px -160px;
}
.ui-icon-stop {
background-position: -96px -160px;
}
.ui-icon-eject {
background-position: -112px -160px;
}
.ui-icon-volume-off {
background-position: -128px -160px;
}
.ui-icon-volume-on {
background-position: -144px -160px;
}
.ui-icon-power {
background-position: 0 -176px;
}
.ui-icon-signal-diag {
background-position: -16px -176px;
}
.ui-icon-signal {
background-position: -32px -176px;
}
.ui-icon-battery-0 {
background-position: -48px -176px;
}
.ui-icon-battery-1 {
background-position: -64px -176px;
}
.ui-icon-battery-2 {
background-position: -80px -176px;
}
.ui-icon-battery-3 {
background-position: -96px -176px;
}
.ui-icon-circle-plus {
background-position: 0 -192px;
}
.ui-icon-circle-minus {
background-position: -16px -192px;
}
.ui-icon-circle-close {
background-position: -32px -192px;
}
.ui-icon-circle-triangle-e {
background-position: -24px 0px;
}
.ui-icon-circle-triangle-s {
background-position: -64px -192px;
}
.ui-icon-circle-triangle-w {
background-position: 0px -0px;
}
.ui-icon-circle-triangle-n {
background-position: -96px -192px;
}
.ui-icon-circle-arrow-e {
background-position: -112px -192px;
}
.ui-icon-circle-arrow-s {
background-position: -128px -192px;
}
.ui-icon-circle-arrow-w {
background-position: -144px -192px;
}
.ui-icon-circle-arrow-n {
background-position: -160px -192px;
}
.ui-icon-circle-zoomin {
background-position: -176px -192px;
}
.ui-icon-circle-zoomout {
background-position: -192px -192px;
}
.ui-icon-circle-check {
background-position: -208px -192px;
}
.ui-icon-circlesmall-plus {
background-position: 0 -208px;
}
.ui-icon-circlesmall-minus {
background-position: -16px -208px;
}
.ui-icon-circlesmall-close {
background-position: -32px -208px;
}
.ui-icon-squaresmall-plus {
background-position: -48px -208px;
}
.ui-icon-squaresmall-minus {
background-position: -64px -208px;
}
.ui-icon-squaresmall-close {
background-position: -80px -208px;
}
.ui-icon-grip-dotted-vertical {
background-position: 0 -224px;
}
.ui-icon-grip-dotted-horizontal {
background-position: -16px -224px;
}
.ui-icon-grip-solid-vertical {
background-position: -32px -224px;
}
.ui-icon-grip-solid-horizontal {
background-position: -48px -224px;
}
.ui-icon-gripsmall-diagonal-se {
background-position: -64px -224px;
}
.ui-icon-grip-diagonal-se {
background-position: -80px -224px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
-moz-border-radius-topleft: 4px;
-webkit-border-top-left-radius: 4px;
-khtml-border-top-left-radius: 4px; 
border-top-left-radius: 4px; 
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
-moz-border-radius-topright: 4px; 
-webkit-border-top-right-radius: 4px; 
-khtml-border-top-right-radius: 4px; 
border-top-right-radius: 4px; 
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { 
-moz-border-radius-bottomleft: 4px; 
-webkit-border-bottom-left-radius: 4px; 
-khtml-border-bottom-left-radius: 4px; 
border-bottom-left-radius: 4px; 
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { 
-moz-border-radius-bottomright: 4px; 
-webkit-border-bottom-right-radius: 4px; 
-khtml-border-bottom-right-radius: 4px; 
border-bottom-right-radius: 4px; 
}
.ui-widget-overlay { 
background: #aaaaaa url(../img/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; 
opacity: .3;
filter:Alpha(Opacity=30); 
}
.ui-widget-shadow { 
margin: -8px 0 0 -8px; 
padding: 8px; 
background: #aaaaaa url(../img/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; 
opacity: .3;
filter:Alpha(Opacity=30); 
-moz-border-radius: 8px; 
-khtml-border-radius: 8px; 
-webkit-border-radius: 8px/; 
border-radius: 8px; 
}

h2 {
  font-family: "BBVALight", arial, sans-serif;
  font-size: 17px;
  margin: 10px 0px 10px;
  color: #333;
  font-weight: normal;
}

h3 {
  font-family: arial, sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  color: #333;
  font-weight: normal;
}

div.tituloTabla {
  height: 40px;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #CCCCCC;
  background: #E0E4E1;
}

div.dropTabla {
  border-bottom: 2px solid #CCCCCC;
  background: #F0F2EF;
  margin: 0;
  padding: 4px 0px 3px 0px;
}
.dropDown {
  margin: 0px 0px 10px 0px;
  height: 30px;
  width: 100%;
}

th.cabeceraTablaDesplegable {
  float: left;
  display: table;
  height: 100%;
  border-right: 1px solid #e2e3de;
  margin: 0 5px;
}

th.celda {
  float: left;
  display: table;
  height: 100%;
  border-right: 1px solid #e2e3de;
  margin: 0 5px;
}